In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

data_set = pd.read_csv('../base/processed_laptop.csv')
display(data_set.describe())

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price,Brand
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,3.005000,15.500000,584.576000,3.055000,2.959000,2.662000,1.956000
std,1.431441,10.988665,313.438517,1.379086,1.423849,1.719509,1.404292
min,1.000000,4.000000,256.000000,1.000000,1.000000,1.000000,0.000000
25%,2.000000,8.000000,256.000000,2.000000,2.000000,1.000000,1.000000
50%,3.000000,16.000000,512.000000,3.000000,3.000000,2.000000,2.000000
75%,4.000000,32.000000,1000.000000,4.000000,4.000000,5.000000,3.000000
max,5.000000,32.000000,1000.000000,5.000000,5.000000,5.000000,4.000000