In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
data_set = pd.read_csv('../base/Laptop_price.csv')

In [5]:
display(data_set.describe())

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2.750611,15.500000,584.576000,14.056790,3.466919,19604.187963
std,0.731796,10.988665,313.438517,1.705882,0.866541,9406.064880
min,1.511580,4.000000,256.000000,11.012111,2.000560,8570.012950
25%,2.089246,8.000000,256.000000,12.635523,2.717211,10114.012948
50%,2.760885,16.000000,512.000000,14.099643,3.464630,17287.241878
75%,3.362610,32.000000,1000.000000,15.528590,4.212583,31566.214754
max,3.998534,32.000000,1000.000000,16.985737,4.990728,33503.935037

In [6]:
duplicates_count = data_set.duplicated().sum()

display(f"Количество дубликатов: {duplicates_count}")

'Количество дубликатов: 0'

In [7]:
for i in range(len(data_set.columns)):
    duplicates = data_set[data_set.columns[i]].duplicated().sum()
    print(f"дубликатов {data_set.columns[i]}: {duplicates}")
    # print(data_set[data_set.columns[i]].duplicated())
    # print(data_set[data_set.columns[i]])

дубликатов Brand: 995
дубликатов Processor_Speed: 0
дубликатов RAM_Size: 996
дубликатов Storage_Capacity: 997
дубликатов Screen_Size: 0
дубликатов Weight: 0
дубликатов Price: 0

**2. Очистка данных**

In [ ]:
from sklearn.impute import SimpleImputer

**3. Разделение данных на обучающую и тестовую выборки**  
надо создать копию датасета с нужными типами данных

In [52]:
# display(data_set.describe())
df = pd.DataFrame()
dfLength = len(data_set)
print(f'data_set length: {dfLength}')
for i in range(len(data_set.columns)):
    # display(data_set[data_set.columns[i]].dtype)
    if data_set[data_set.columns[i]].dtype != np.float_:
      # print(pd.DataFrame(data_set[data_set.columns[i]]))
      df.insert(i, data_set.columns[i], data_set[data_set.columns[i]])
    else:
      df.insert(i, data_set.columns[i], np.arange(dfLength, dtype='int64'))
      # print(f'dtype: {df[data_set.columns[i]].dtype}, column: {data_set.columns[i]}')
    # display(df)
display(df)

def discretizeFloatToInt(out, y, column):
  nStep = 5
  ma = max(y)
  mi = min(y)
  step = (ma - mi) / nStep
  # print(f'max: {max(y)}, min: {min(y)}, step: {step}')
  for i in range(len(y)):
    for idx in range(1, nStep + 1):
      if y[i] <= mi + idx * step:
        # print(f"y[i] = {y[i]}, [{mi + (idx - 1) * step}, {mi + idx * step}], index: {idx}")
        # out[i] = idx
        out.at[i, column] = idx
        break

data_set length: 1000

,Brand,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
0,Asus,0,16,512,0,0,0
1,Acer,1,4,1000,1,1,1
2,Lenovo,2,4,256,2,2,2
3,Acer,3,16,512,3,3,3
4,Acer,4,32,1000,4,4,4
...,...,...,...,...,...,...,...
995,HP,995,4,1000,995,995,995
996,Dell,996,8,256,996,996,996
997,Dell,997,4,512,997,997,997
998,Asus,998,8,256,998,998,998
999,Lenovo,999,4,256,999,999,999

In [76]:
discretized = data_set.copy()

for i in range(len(data_set.columns)):
    print(data_set[data_set.columns[i]].dtype)
    if data_set[data_set.columns[i]].dtype == np.float64:
        print("discretized")
        discretizeFloatToInt(df, discretized[discretized.columns[i]], discretized.columns[i])
    # print(data_set.columns[i])
    # print(data_set[data_set.columns[i]])
display(df.describe())

object
float64
discretized
int64
int64
float64
discretized
float64
discretized
float64
discretized

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,3.005000,15.500000,584.576000,3.055000,2.959000,2.662000
std,1.431441,10.988665,313.438517,1.379086,1.423849,1.719509
min,1.000000,4.000000,256.000000,1.000000,1.000000,1.000000
25%,2.000000,8.000000,256.000000,2.000000,2.000000,1.000000
50%,3.000000,16.000000,512.000000,3.000000,3.000000,2.000000
75%,4.000000,32.000000,1000.000000,4.000000,4.000000,5.000000
max,5.000000,32.000000,1000.000000,5.000000,5.000000,5.000000

In [ ]:
print(data_set['Price'])
print(data_set.columns)
for i in range(len(data_set.columns)):
    print(data_set.columns[i])
    print(data_set[data_set.columns[i]])

**4. Выделение признаков**

In [ ]:
for column in data_set.columns:
    unique_values = data_set[column].unique()
    print(f"{column}: {unique_values}")

## Энтропия

In [55]:
def entropy(y):
  counts = np.bincount(y)
  probabilities = counts / len(y)
  return -np.sum([p * np.log2(p) for p in probabilities if p > 0])

## Information Gain (IG)

In [ ]:
def informationGain(dataSet, featureClass, featureIdx):
  totalEntropy = entropy(featureClass)
  values, counts = np.unique(dataSet[:, featureIdx], return_counts=True)
  weightedEntropy = 0

  for value, count in zip(values, counts):
      subset = featureClass[dataSet[:, featureIdx] == value]
      weightedEntropy += (count / len(dataSet)) * entropy(subset)

  return totalEntropy - weightedEntropy

## Split Information (SI)

In [ ]:
def splitInformation(dataSet, featureIdx):
    values, counts = np.unique(dataSet[:, featureIdx], return_counts=True)
    probabilities = counts / len(dataSet)
    return -np.sum([p * np.log2(p) for p in probabilities if p > 0])

## Gain Ratio

In [ ]:
def gainRatio(dataSet, featureClass, featureIdx):
    ig = informationGain(dataSet, featureClass, featureIdx)
    iv = splitInformation(dataSet, featureIdx)
    return ig / iv if iv != 0 else 0

In [ ]:
columns = df.drop(['Price'], axis=1).columns.tolist()
ds = df.drop(['Price'], axis=1).values
y = df['Price'].values
scores = [gainRatio(ds, y, i) for i in range(ds.shape[1])]

ranking = np.argsort(scores)[::-1]
print("Gain Ratio:")
for i in ranking:
    print(f"{columns[i]}: {scores[i]:.5f}")

Gain Ratio:
Storage_Capacity: 1.00000
RAM_Size: 0.01319
Processor_Speed: 0.00708
Screen_Size: 0.00481
Brand: 0.00477
Weight: 0.00331

In [75]:
from sklearn.feature_selection import SelectKBest, f_classif,  VarianceThreshold
# data_set['']
# X = data_set.drop(['Brand', 'Price'], axis=1)
x = df.drop(['Brand', 'Price'], axis=1)
y = df['Price']
display(x.describe())
selector = VarianceThreshold()
X_train_filtered = selector.fit_transform(x)
kbest = SelectKBest(score_func = f_classif, k = 5)

train_selected = kbest.fit_transform(X_train_filtered, y)
best_indices = kbest.get_support(indices=True)

selected_features = x.columns[best_indices]
print(selected_features.tolist())

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,3.005000,15.500000,584.576000,3.055000,2.959000
std,1.431441,10.988665,313.438517,1.379086,1.423849
min,1.000000,4.000000,256.000000,1.000000,1.000000
25%,2.000000,8.000000,256.000000,2.000000,2.000000
50%,3.000000,16.000000,512.000000,3.000000,3.000000
75%,4.000000,32.000000,1000.000000,4.000000,4.000000
max,5.000000,32.000000,1000.000000,5.000000,5.000000

['Processor_Speed', 'RAM_Size', 'Storage_Capacity', 'Screen_Size', 'Weight']

/usr/lib/python3/dist-packages/sklearn/feature_selection/_univariate_selection.py:113: RuntimeWarning: divide by zero encountered in divide
  f = msb / msw